{% extends "layout.html" %} 

{% block content %}

<div class="container text-center">
    <div class="row">
      <div class="col">
        <h1>Lector en tiempo real</h1>
        <img src="{{ url_for('video_feed') }}" width="360" height="240">
      </div>
    </div>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('redirect', function(data) {
        window.location.href = data.url;  // Redirigir automáticamente
    });
</script>


{% endblock content %}

